@font-face {
	font-family: lifeIsM;
	src: url(KGLifeisMessy.ttf);
}




h1, h2, h3, table {
	text-align:center;
}

h3 {
	margin-top: 10px;
	margin: 0 auto;
}

table {
	margin: 0px auto;
	border-collapse: collapse;
	
}

tbody {
	font-style: italic;
	background-color: #ffffe0;
}

img {
	width:300px;
	height:300px;
	margin:20px auto;
	display:block;
}


ul li {
	font-style: italic;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: yellow;
}

table th {
	text-align: center;
}

tbody tr:nth-child(odd){
	background-color: pink;
}