@font-face {
	font-family: cAndM;
	src: url(cookies&milk-regular.ttf);
}



header > h1 {
	text-align:center;
	font-family: cAndM;
	font-size: 64px;
}

header ul>li {
	display:inline;
	padding-right: 20px;
}

footer {
	position:absolute;
	bottom:0;
	text-align:center;
	width: 100%;
	border-top: 2px solid;
}

header {
	border-bottom: 2px solid;
	margin-bottom: 10px;
	width: 100%;
}

label {
	font-weight: bold;
}

#pic {
	background-image: url(https://t1.ftcdn.net/jpg/00/77/16/32/240_F_77163272_xnr2wfKHh5jATmntSaR9BlM79d9U43Ns.jpg);
	background-position: center;
	background-size: 450px 150px;
}

section {
	background-color: #ffffe0;
	width: auto;
	height: auto;
	padding-bottom: 1%;
	padding-top: 1%;
}