@font-face {
	font-family: lifeIsM;
	src: url(KGLifeisMessy.ttf);
}




h1, h2, h3, table {
	text-align:center;
}

h3 {
	margin-top: 10px;
	margin: 0 auto;
}

table {
	margin: 0px auto;
	border-collapse: collapse;
}



#div1 {
	width: 100%;
	height: 300px;
	background: url("http://d817ypd61vbww.cloudfront.net/sites/default/files/styles/media_responsive_widest/public/tile/image/AbbeyRoad.jpg?itok=BgfH98zh");

	background-size: 300px 300px;
	background-repeat: no-repeat;
	background-position: center;
}

ul li {
	font-style: italic;
}
