.outer {
	margin-top:10px;
}

.wrapper {
    text-align: center;
	width: 120px;
    height: 40px;
}

.button {
	background-color: grey;
    color: black;
    padding: 10px;
	border: solid 1px black;
}


.results {
	width:30%;
	background-color:lightgray;
	padding-bottom:40px;
}

table {
	border-collapse: collapse;
	width: 80%;

}

table, th, td {
    border: 1px solid white;
}

th, td {
	height: 60px;
	width: 50%;
}

.results caption {
	text-decoration:underline;
}

#resultsOuter {
	display: none;
}