@font-face {
	font-family: cAndM;
	src: url(cookies&milk-regular.ttf);
}



header > h1 {
	text-align:center;
	font-family: cAndM;
	font-size: 64px;
}

header ul>li {
	display:inline;
	padding-right: 20px;
}

footer {
	bottom:0;
	text-align:center;
	width: 100%;
	border-top: 2px solid;
	margin-top: 10px;
}

header {
	border-bottom: 2px solid;
	margin-bottom: 10px;
	width: 100%;
}

label {
	font-weight: bold;
}

#pic {
	background-image: url(https://t1.ftcdn.net/jpg/00/77/16/32/240_F_77163272_xnr2wfKHh5jATmntSaR9BlM79d9U43Ns.jpg);
	background-position: center;
	background-size: 450px 150px;
}

section {
	background-color: #ffffe0;
	width: auto;
	height: auto;
	padding-bottom: 1%;
	padding-top: 1%;
}

a:visited {
	color: green;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}

th {
	font-family: cAndM;
	font-size: 24px;
	
}

table th {
	text-align: center;
}

form label {
	margin-right: 10px;
}

.carouselImg img {
  width: auto;
  height: 225px;
  max-height: 225px;
}